.sourcePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f8fa;

  .content {
    margin-top: 20px;
    width: 1200px;
    padding: 0 16px;
    display: flex;
    background: #fff;
  }
}
