.indexContent {
  height: calc(100vh - 64px);

  :global(.ant-menu-light .ant-menu-item-selected) {
    background: #eef2fd;
    margin: 0;
    width: 100%;
    border-left: 4px solid #2d5afa !important;
    border-radius: 0;
  }
  :global(.ant-menu-light .ant-menu-item) {
    margin: 0;
    width: 100%;
    border-left: 4px solid transparent;
    border-radius: 0;
  }
  :global(.ant-menu-inline .ant-menu-item) {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  .componentContent1 {
    width: 100%;
    height: calc(100vh - 84px);
    display: flex;
    justify-content: center;
    background: #fff;
    overflow: auto;

    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;

      .leftNav {
        width: 215px;
        height: calc(100vh - 110px);
        background: #fff;
        position: absolute;
        padding-top: 18px;
        top: 20px;
        left: 15%;
        z-index: 1;
      }

      .mainContent {
        width: 1000px;
        height: calc(100vh - 110px);
        // overflow: auto;
        margin-top: 20px;
        left: calc(15% + 240px);
        // position: relative;

        & > div:first-child {
          width: 1000px;
          height: calc(100vh - 110px);
          background-color: #fff;
          padding-left: 32px;
          padding-top: 24px;
          // overflow: auto;

          h1 {
            margin-top: 0;
          }
        }

        .imageBox {
          display: flex;
          justify-content: start;
        }
      }
    }
  }
}
